@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --primary-color: #185ee0;
  --secondary-color: #01193a;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgba(#5c9af1, 0.5);
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  position: relative;
  background-color: rgb(224, 136, 136);
  box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
  padding: 0.75rem;
  border-radius: 99px;
  * {
    z-index: 2;
    }
}

input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  font-size: 1.25rem;
  font-weight: 540;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.25s ease-in;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: 0.25s ease-in;
}

input[type="radio"] {
  &:checked {
    & + label {
      color: var(--primary-color);
      & = .notification {
        background-color: var(--primary-color);
        color: rgb(230, 54, 54);
      }
    }
  }
}

input[id="radio-1"] {
  &:checked {
    & = .glider {
      transform: translateX(0);
    }
  }
}

